<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DataAnnotationsExtensions" version="1.1.0.0" targetFramework="net472" />
  <package id="Dynamitey" version="2.0.10.189" targetFramework="net472" />
  <package id="ExtendedWPFConverters" version="2.0.3" targetFramework="net472" />
  <package id="ExtendedWPFVisualTreeHelper" version="2.0.2" targetFramework="net472" />
  <package id="FreeSpire.XLS" version="12.7.0" targetFramework="net472" />
  <package id="GiftModels" version="1.3.1.495" targetFramework="net472" />
  <package id="MaterialSkin.2" version="2.3.1" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.1418.22" targetFramework="net472" />
  <package id="ShowMeTheXAML" version="2.0.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net472" />
</packages>